@charset "UTF-8";
.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box; }

.wrapper {
  width: 100%; }

.clearfix::before,
.clearfix::after {
  display: block;
  content: '';
  clear: both; }

.header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  padding: 15px;
  margin-bottom: 40px;
  background-color: #fff; }
  .header__bolt {
    float: left; }
  .header__contact {
    float: right;
    padding: 14px 12px;
    background-color: #74cfae;
    color: #fff; }
  .header__btn {
    float: right;
    display: none;
    margin: 8px 0;
    padding: 9px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    -webkit-appearance: button;
    background-color: #fff; }
    .header__btn span {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background-color: #ccc; }
      .header__btn span:not(:first-child) {
        margin-top: 4px; }

.boltThem {
  padding-top: 354px;
  padding-bottom: 250px;
  width: 100%;
  display: block;
  text-align: center;
  background-color: #f2f2f2; }
  .boltThem h1 {
    font-size: 90px;
    font-weight: 700px;
    margin-bottom: 20px;
    color: #74cfae; }
  .boltThem p {
    font-size: 30px;
    color: #c0c0c0; }

.whatWeCanDo {
  background-color: #74cfae;
  text-align: center;
  position: relative; }
  .whatWeCanDo__iphone {
    padding-top: 50px;
    width: 40%;
    display: inline-block;
    text-align: center; }
  .whatWeCanDo__text {
    width: 60%;
    color: #fff;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    padding-top: 75px;
    max-width: 610px; }
    .whatWeCanDo__text h2 {
      font-size: 24px;
      margin-bottom: 35px; }
    .whatWeCanDo__text p {
      font-size: 20px; }

.ourLatest {
  background-color: #f2f2f2;
  padding-top: 60px; }
  .ourLatest h2 {
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center; }
  .ourLatest ul li {
    float: left;
    margin-left: 100px;
    margin-bottom: 80px;
    box-sizing: border-box;
    opacity: .7; }
    .ourLatest ul li:nth-child(3n+1) {
      margin-left: 0; }
    .ourLatest ul li:nth-child(n+4) {
      margin-top: 80px; }
    .ourLatest ul li:hover {
      opacity: 1; }
  .ourLatest img {
    vertical-align: bottom; }
  .ourLatest__Email {
    text-align: center; }
  .ourLatest__text {
    padding-bottom: 70px;
    width: 45%;
    margin-right: 90px;
    display: inline-block; }
  .ourLatest__button {
    background-color: #74cfae;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    padding: 14px 20px; }

.OurSkills {
  background-color: #4e4e4e;
  text-align: center; }
  .OurSkills h2 {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    font-size: 24px;
    color: #fff; }
  .OurSkills ul {
    display: inline-block; }
    .OurSkills ul li {
      float: left;
      margin-right: 180px; }
      .OurSkills ul li:last-child {
        margin-right: 0; }
  .OurSkills p {
    padding-bottom: 100px;
    text-align: center;
    color: #fff;
    font-size: 16px; }

.access {
  background-color: #f2f2f2; }
  .access ul {
    text-align: center; }
    .access ul li {
      margin: 200px auto;
      width: 185px;
      height: 100px;
      text-align: center;
      line-height: 120px;
      display: inline-block;
      box-sizing: border-box;
      color: #74cfae; }
      .access ul li:hover {
        background-color: #fff; }

.footer {
  background-color: #74cfae;
  color: #fff;
  text-align: right;
  padding: 20px 0 25px; }

/* フレキシブル対応 */
@media screen and (min-width: 767px) and (max-width: 1199px) {
  /* PAD対応 */
  .whatWeCanDo__iphone {
    padding-top: 50px;
    display: inline-block;
    text-align: center; }
  .whatWeCanDo__text {
    color: #fff;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    max-width: 610px; }
  .whatWeCanDo h2 {
    font-size: 24px;
    margin-bottom: 35px; }
  .whatWeCanDo p {
    font-size: 20px;
    margin-bottom: 25px; }
  .ourLatest {
    width: 100%;
    text-align: center; }
    .ourLatest ul li {
      margin-left: 0;
      margin-bottom: 0;
      float: none; }
      .ourLatest ul li:nth-child(3n) {
        margin-bottom: 80px; }
      .ourLatest ul li:nth-child(n+4) {
        margin-top: 0; }
    .ourLatest p {
      max-width: 900px; }
    .ourLatest__Email {
      text-align: center;
      padding-bottom: 70px; }
    .ourLatest__text {
      width: 100%;
      padding-bottom: 40px;
      display: block;
      text-align: center; }
  .OurSkills ul {
    display: block; }
    .OurSkills ul li {
      float: none;
      margin: 0 auto; }
      .OurSkills ul li:last-child {
        margin-right: 0; }
  .OurSkills p {
    padding-bottom: 88px; } }

@media screen and (max-width: 766px) {
  .header__contact {
    float: none;
    display: none; }
  .header__contact.is-active {
    float: none;
    display: block;
    margin-top: 60px; }
  .header__btn {
    display: block;
    margin-right: 15px; }
  .boltThem {
    padding-top: 264px;
    padding-bottom: 130px;
    width: 100%;
    display: block; }
    .boltThem h1 {
      font-size: 80px;
      font-weight: 700px; }
    .boltThem p {
      font-size: 30px; }
  .whatWeCanDo__iphone {
    padding-top: 50px;
    text-align: center; }
  .whatWeCanDo__text {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    padding-top: 20px; }
  .whatWeCanDo h2 {
    font-size: 24px;
    margin-bottom: 35px; }
  .whatWeCanDo p {
    font-size: 20px;
    margin-bottom: 25px; }
  .ourLatest {
    width: 100%;
    text-align: center; }
    .ourLatest ul li {
      margin-left: 0;
      margin-bottom: 0;
      float: none; }
      .ourLatest ul li:nth-child(3n) {
        margin-bottom: 80px; }
      .ourLatest ul li:nth-child(n+4) {
        margin-top: 0; }
    .ourLatest p {
      max-width: 900px; }
    .ourLatest__Email {
      text-align: center;
      padding-bottom: 70px; }
    .ourLatest__text {
      text-align: center;
      margin: 0 auto;
      padding-bottom: 40px;
      display: block;
      text-align: center; }
  .OurSkills ul {
    display: block; }
    .OurSkills ul li {
      float: none;
      margin: 0 auto; }
      .OurSkills ul li:last-child {
        margin-right: 0; }
  .OurSkills p {
    padding-bottom: 88px; }
  .access ul {
    text-align: center;
    padding: 50px 15px 15px 15px; }
    .access ul li {
      margin: 0 auto;
      display: block;
      text-align: center;
      box-sizing: border-box; }
      .access ul li:hover {
        background-color: #fff; } }
