@import './variable';

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
}

.clearfix::before,
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

.header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  padding: 15px;
  margin-bottom: 40px;
  background-color: #fff;

  &__bolt {
    float: left;
  }

  &__contact {
    float: right;
    padding: 14px 12px;
    background-color: $conversionColor;
    color: #fff;
  }

  &__btn {
    float: right;
    display: none;
    margin: 8px 0;
    padding: 9px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    -webkit-appearance: button;
    background-color: #fff;

    span {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background-color: #ccc;

      &:not(:first-child) {
        margin-top: 4px;
      }
    }
  }
}

.boltThem {
  padding-top: 354px;
  padding-bottom: 250px;
  width: 100%;
  display: block;
  text-align: center;
  background-color: $backGroundGray;

  h1 {
    font-size: 90px;
    font-weight: 700px;
    margin-bottom: 20px;
    color: $conversionColor;
  }

  p {
    font-size: 30px;
    color: #c0c0c0;
  }
}

.whatWeCanDo {
  background-color: $conversionColor;
  text-align: center;
  position: relative;

  &__iphone {
    padding-top: 50px;
    width: 40%;
    display: inline-block;
    text-align: center;
  }

  &__text {
    width: 60%;
    color: #fff;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    padding-top: 75px;
    max-width: 610px;

    h2 {
      font-size: 24px;
      margin-bottom: 35px;
    }

    p {
      font-size: 20px;
    }
  }
}

.ourLatest {
  background-color: $backGroundGray;
  padding-top: 60px;

  h2 {
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
  }

  ul {
    li {
      float: left;
      margin-left: 100px;
      margin-bottom: 80px;
      box-sizing: border-box;
      opacity: .7;

      &:nth-child(3n+1) {
        margin-left: 0;
      }

      &:nth-child(n+4) {
        margin-top: 80px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
  img {
    vertical-align: bottom;
  }

  &__Email {
    text-align: center;
  }

  &__text {
    padding-bottom: 70px;
    width: 45%;
    margin-right: 90px;
    display: inline-block;
  }

  &__button {
    background-color: $conversionColor;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    padding: 14px 20px;
  }
}

.OurSkills {
  background-color: $backGroundDark;
  text-align: center;

  h2 {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    font-size: 24px;
    color: #fff;
  }

  ul {
    display: inline-block;

    li {
      float: left;
      margin-right: 180px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  p {
    padding-bottom: 100px;
    text-align: center;
    color: #fff;
    font-size: 16px;
  }
}

.access {
  background-color: $backGroundGray;
  ul {
    text-align: center;
    li {
      margin: 200px auto;
      width: 185px;
      height: 100px;
      text-align: center;
      line-height: 120px;
      display: inline-block;
      box-sizing: border-box;
      color: $conversionColor;

      &:hover {
        background-color: #fff;
      }
    }
  }
}

.footer {
  background-color: $conversionColor;
  color: #fff;
  text-align: right;
  padding: 20px 0 25px;
}

/* フレキシブル対応 */
@media screen and (min-width: 767px) and (max-width: 1199px) {
  /* PAD対応 */
  .whatWeCanDo {
    &__iphone {
      padding-top: 50px;
      display: inline-block;
      text-align: center;
    }

    &__text {
      color: #fff;
      vertical-align: top;
      display: inline-block;
      text-align: center;
      padding-top: 20px;
      max-width: 610px;
    }

    h2 {
      font-size: 24px;
      margin-bottom: 35px;
    }

    p {
      font-size: 20px;
      margin-bottom: 25px;
    }
  }

  .ourLatest {
    width: 100%;
    text-align: center;
    ul {
      li {
        margin-left: 0;
        margin-bottom: 0;
        float: none;

        &:nth-child(3n) {
          margin-bottom: 80px;
        }

        &:nth-child(n+4) {
          margin-top: 0;
        }
      }
    }
    p {
      max-width: 900px;
    }

    &__Email {
      text-align: center;
      padding-bottom: 70px;
    }

    &__text {
      width: 100%;
      padding-bottom: 40px;
      display: block;
      text-align: center;
    }
  }

  .OurSkills {
    ul {
      display: block;
      li {
        float: none;
        margin: 0 auto;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    p {
      padding-bottom: 88px;
    }
  }
}

@media screen and (max-width: 766px) {
  .header__contact {
    float: none;
    display: none;
  }

  .header__contact.is-active {
    float: none;
    display: block;
    margin-top: 60px;
  }

  .header__btn {
    display: block;
    margin-right: 15px;
  }

  .boltThem {
    padding-top: 264px;
    padding-bottom: 130px;
    width: 100%;
    display: block;

    h1 {
      font-size: 80px;
      font-weight: 700px;
    }

    p {
      font-size: 30px;
    }
  }

  .whatWeCanDo {
    &__iphone {
      padding-top: 50px;
      text-align: center;
    }

    &__text {
      vertical-align: top;
      display: inline-block;
      text-align: center;
      padding-top: 20px;
    }

    h2 {
      font-size: 24px;
      margin-bottom: 35px;
    }

    p {
      font-size: 20px;
      margin-bottom: 25px;
    }
  }

  .ourLatest {
    width: 100%;
    text-align: center;
    ul {
      li {
        margin-left: 0;
        margin-bottom: 0;
        float: none;

        &:nth-child(3n) {
          margin-bottom: 80px;
        }

        &:nth-child(n+4) {
          margin-top: 0;
        }
      }
    }

    p {
      max-width: 900px;
    }

    &__Email {
      text-align: center;
      padding-bottom: 70px;
    }

    &__text {
      text-align: center;
      margin: 0 auto;
      padding-bottom: 40px;
      display: block;
      text-align: center;
    }
  }

  .OurSkills {
    ul {
      display: block;
      li {
        float: none;
        margin: 0 auto;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    p {
      padding-bottom: 88px;
    }
  }

  .access {
    ul {
      text-align: center;
      padding: 50px 15px 15px 15px;
      li {
        margin: 0 auto;
        display: block;
        text-align: center;
        box-sizing: border-box;

        &:hover {
          background-color: #fff;
        }
      }
    }
  }
}